body {
  font-family: Arial, sans-serif;
  background-image: url('pexels-eberhardgross-1366919.jpg');
  background-size: cover; 
  background-position: center center; 
  background-attachment: fixed; 
}

#clock {
  font-size: 18px;
  margin-bottom: 20px;
  color: #555;
}

.actions button {
  padding: 5px 10px;
  margin: 5px;
}

input[type="color"] {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

#task-container {
  margin-top: 20px;
}

#task-list {
  margin-top: 20px;
}

#task-list li.bg-success {
  background-color: #28a745;
  color: white;
}

#task-list li .actions button {
  margin-left: 5px;
}

button {
  margin-top: 5px;
}
